body{
  margin: 0;
  text-align: center;
  background-color: #DDDDDD;



}
.top{

   background-color: #06113C;

 }



 h1{
   font-size: 5.625rem;
  padding-top: 280px;
   color: #FF8C32;
   margin: 20px auto 0 auto;

   margin:0 auto 0 auto ;
  font-family: 'Sacramento', cursive;
 }
 h2{
   font-family: 'Montserrat', sans-serif;
   color: #FF8C32;
   font-size: 3.5rem;
   line-height: 2;
 }
 h3{
   font-family: 'Merriweather', serif;
   color: #FF8C32;
   font-size: 2.5rem;
   line-height: 2;
 }

p{

  color: #FF8C32;
  font-family: 'Sacramento', cursive;
   font-size: 2.5rem;
  margin: 40px auto 0 auto;
  padding-top: 3px;
  padding-bottom: 3px;
}
.cloud1{
  display: inline-block;
  position: absolute;
  bottom: 350px;
  left: 350px;
}
.cloud2{

  position: absolute;
  bottom: 320px;
  left: 500px;

}
.cloud{
  position: absolute;
   top: 140px;
}
.mypic{
   margin: 100px auto;
  border: solid #06113C ;
  border-radius: 50%  ;
     width: 30%;
     line-height: 2;
}
.skill-row{

    margin:   100px auto 100px auto  ;
    width: 50%;
    text-align: left;

}
.skill-row1{

    margin:   100px auto 100px auto  ;
    width: 50%;
       text-align: left;



}
.bisi{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.cp{
  width: 25%;
  float: right;
  margin-right: 30px;
}
hr{
  width: 15%;
  border-style: dotted none none none;
   margin: 20px auto;
   border-width: 8px;

  border-color: #00092C;

}
